body {
  margin: 40px;
}

.wrapper {
    background-color: #fff;
    color: #444;
    display: flex;
    flex-wrap: wrap;
}

#content #main-title {
    width: 100%;
}

#main-title h1 {
    background: url('/images/tbh_graphics/TBH-logo-2024.png') no-repeat;
    background-size: contain;
    margin: 0 auto;
    text-indent: -99999px;
    height: 110px;
    width: 625px;
}


body h3 {
    color: #fff;
}

body h5 {
    color: #fff;
}

.box {
    background-color: #993f14;
    color: #fff;
    font-size: 150%;
    margin-bottom: 13px;
    margin-right: 13px;
    width: 251px;
}

.box.alternate {
    background-color: #bf5700;
}

.box.teachers-box,
.box.spotlight-box {
    position: relative;
    margin-right: 0px;
}

.box a > * {
    text-align: left;
    width: 220px;
}

#content .box h3 {
    margin: 20px 15px 5px;
    text-align: left;
}

.box h5 {
    font-size: 12px;
    margin-bottom: 10px;
}

.box a, .box a:hover {
    text-decoration: none;
    display: inline-block;
}

.box img {
    width: 220px;
    height: 110px;
}

#content .kids-box {
    position: relative;
}

#content .kids-box h3,
#content .kids-box h5{
    position: absolute;
    margin: 20px 15px 5px;
    text-align: center;
    width: 95px;
}

#content .kids-box h3 {
    font-family: "blockhead-black-face", sans-serif !important;
    font-size: 36px;
    right: 0;
    top: 0;
}

#content  .kids-box h5 {
    right: 0;
    top: 125px;
}

#content .kids-box .dr-dirt {
    position: absolute;
    left: 0px;
    bottom: -13px;
    width: 150px;
    height: 200px;
}

#content .teachers-box h3 {
    margin-top: 25px;
}

#content .teachers-box h5 {
    line-height: 1.4;
    margin-top: 15px;
    padding-right: 50px;
    width: 170px;
}

#content .teachers-box img {
    position: absolute;
    left: 70px;
    bottom: 0;
    height: auto;
    width: 110px;
}

.teachers-box #image-titles li {
    color: #fff;
    display: inline-block;
    font-size: 10px;
    text-align: center;
    vertical-align: top;
    width: 40px;
}

.teachers-box .art {
    margin-left: 14px;
}
.teachers-box .math {
    margin-left: 1px;
}
.teachers-box .social {
    margin-left: 0px;
}
.teachers-box .language {
    margin-left: 5px;
}

#content .about-box p {
    font-size: 14px;
    line-height: 1.2;
}

.about-box {
    background-color: #005f86;
    height: 175px;
    margin: 0 0px 13px 15px;
    width: 514px;
    text-decoration: none;
}

.gallery-box > * {
    margin-left: 15px;
    margin-right: 15px;
}

#content .gallery-box {
    margin-right: 0px;
    text-align: left;
}

#content .gallery-box h3 {
    margin-left: 0;
    margin-top: 25px;
}

#content .gallery-box h5 {
    line-height: 1.4;
    margin-top: 7px;
    width: 200px;
}

#content .gallery-box img {
    height: auto;
    margin-top: 15px;
}

.resources-box {
    box-sizing: border-box;
    margin: 0 0 13px 0;
    text-align: left;
}

.resources-box img {
    width: 16px;
    height: 16px;
    margin-right: 0.7ch;
}

.resources-box h3 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.resources-box h4 {
    color: #fff;
    margin: 15px;
}

.resources-box h4 a {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}

#content .resources-box p,
#content .about-box p {
    color: #fff;
    font-weight: lighter;
    line-height: 1.1;
    margin: 5px 15px 10px;
    text-align: left;
    width: auto;
}

#content .resources-box p a,
#content .about-box p a {
    color: #fff;
    font-weight: bold;
}

.box a.more {
    color: #fff;
    display: inline-block;
    float: right;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: left;
    width: 100px;
}

#logos{
    display: grid;
    /*margin-top:50px;*/
    width: 100%;
    grid-template-columns: 49% 49%;
    grid-column-gap: 2%;
    grid-row-gap: 30px;
    margin-top: 4em;
}

#logos img {
    width: 275px;
}

#logos-holder{
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

iframe#instagram-embed-0, blockquote.instagram-media {
    height: 415px !important;
    margin-top: 4em !important;
}

@media (max-width: 800px) {
    div#content > * {
        max-width: 515px;
    }
    .box.alternate {
        margin-right: 0;
    }
    .box.spotlight-box {
        margin-right: 13px;
    }
    .about-box {
        margin-left: 0px;
        width: 100%;
    }

    .gallery-box {
        height: 180px;
    }
}

@media (max-width: 535px) {
    div#content > * {
        max-width: 100vw;
    }

    .wrapper {
        flex-direction: column;
        align-items: center;
    }

    .box.spotlight-box,
    .box {
        margin-left: 0;
        margin-right: 0;
    }

    .kids-box {
        height: 190px;
    }
    
    .resources-box,
    .about-box {
        max-width: 250px;
        height: auto;
        padding-bottom: 15px;
    }

}