body {
  margin: 40px;
}

.wrapper {
  display: grid;
  grid-template-columns: 253px 253px 253px;
  grid-template-rows: 190px 190px 190px 95px;
  grid-gap: 13px;
  background-color: #fff;
  color: #444;
}

#content #main-title {
    margin: -20px 0px 0px;
    width: 100%;
}

#main-title h1 {
    background: url('/images/tbh_graphics/tbh-header.png') no-repeat;
    background-size: contain;
    margin: 0 auto;
    height: 110px;
    width: 625px;
    text-indent: -99999px;
}

body h3 {
    color: #fff;
}

body h5 {
    color: #fff;
}

.box {
    background-color: #993f14;
    color: #fff;
    font-size: 150%;
}

.box.alternate {
    background-color: #784f39;
}

.box a > * {
    text-align: left;
    width: 220px;
}

#content .box h3 {
    margin: 20px 15px 5px;
    text-align: left;
}

.box h5 {
    font-size: 12px;
    margin-bottom: 10px;
}

.box a, .box a:hover {
    text-decoration: none;
    display: inline-block;
}

.box img {
    width: 220px;
    height: 110px;
}

#content .teachers-box img {
    height: auto;
}

#content .kids-box h3 {
    float: right;
    margin: 20px -0px 0px 0px;
    text-align: center;
    width: 90px;
}

#content  .kids-box h5 {
    clear: both;
    float: right;
    margin: 70px -0px 0px 0px;
    text-align: center;
    width: 90px;
}

#content .kids-box img {
    float: left;
    width: 150px;
    height: 188px;
    margin: -72px -6px 0px -14px;
}

#content .teachers-box h3 {
    margin-top: 25px;
}

#content .teachers-box h5 {
    line-height: 1.4;
    margin-top: 15px;
    padding-right: 50px;
    width: 170px;
}

.teachers-box .icons {
    margin-top: 25px;
}

.teachers-box .icons img {
    float: left;
    margin-right: 10px;
    height: 47px;
    width: 47px;
}

.teachers-box .icons img:last-of-type {
    margin-right: 0px;
}

.about-box {
    background-color: #bf5700;
    grid-column: 1/4 ;
    grid-row: 3;
}

.resources-box {
    background-color: #2a497c;
    grid-column: 1/4 ;
    grid-row: 4;
}

#content .resources-box p,
#content .about-box p {
    color: #fff;
    font-weight: lighter;
    line-height: 1.1;
    margin: 5px 15px 10px;
    text-align: left;
    width: auto;
}

#content .resources-box p a,
#content .about-box p a {
    color: #fff;
    font-weight: bold;
}

#logos{
  width: 100%;
}

#logos-holder{
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}


.more {

}
