# AddDefaultCharset utf-8
php_flag engine off

# Force HTTPS
RewriteEngine On
RewriteCond %{HTTP_HOST} !=localhost
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://${HTTP_HOST}%{REQUEST_URI} [R=301,L]

Header always set Access-Control-Allow-Origin "*"/$1 [R,L]
