body {
	font-family: verdana;
	font-size:12px;
}

#textlink {
	position:absolute;
	top:0px;
	left:0px;
	z-index:5;
}
#textlink a {
	color:#cc3300;
	font-size:70%;
	font-weight: bold;
	text-decoration:none;
}
#hidden {
	text-indent:-5000px;
	}

#ut {
	position:absolute;
	top:0px;
	left:172px;
	display:inline;
	}
#tbh {
	position:absolute;
	top:20px;
	left:160px;
	z-index:2;
	color:#fff;
	font-size:0px;
	}
	
#pos {
	position:absolute;
	top:25px;
	left:0px;
	z-index:1;
	}

	
.menu {
	position:absolute;
	top:138px;
	left:105px;
	width:700px;
	z-index:3;
	}
		
 ul { 
	padding: 0;
	margin: 0;
	list-style: none;
	font-weight:bold;
	color:rgb(255,240,213);
}
 li a {
	color:rgb(255,240,213);
	}

#nav a {
	text-decoration: none;
}

#nav li li a {
	display: block;
	font-weight: bold;
	#font-weight: 100;
	color: rgb(181,57,5);
	padding: 3px;
	border: 1px solid rgb(255,240,213);
	border-width: 1px 5px;
}

#nav li li a:hover {
	padding: 3px;
	border: 5px solid rgb(181,57,5);
	border-width: 1px 5px;
}

li {
	float: left;
	position: relative;
	width:auto;
	padding-left:15px;
	padding-right:15px;
	cursor: default;
	background-color: rgb(181,57,5);
	
}

li ul {
	display: none;
	position: absolute;
	#position: relative;
	_position: absolute;
	top: 20px;
	_top: 15px;
	left: 0px;
	width: 120px;
	#width: 100px;
	_width:120px;
	border: 1px solid rgb(181,57,5);
	font-weight: normal;
	background-color: rgb(255,240,213);

}

li>ul {
	top: auto;
	left: auto;
}

li li {
	display: block;
	float: none;
	background-color: transparent;
	border-bottom: 1px solid rgb(181,57,5);
	padding-left:0px;
	padding-right:0px;
}

li:hover ul, li.sfhover ul {
	display: block;
}
#searchbox {
	background-color:rgb(255,240,213);
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-weight: bold; 
	font-size:80%;
	color:rgb(181,57,5);
	border:0px;
	padding:2px;
}
#searchbut {
	background-color:rgb(181,57,5);
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-weight: bold; 
	font-size:90%;
	padding-right:0px;
	padding-left:0px;
	color:rgb(255,240,213);
	cursor:pointer;
	border:0px;
	}
form {
	display:inline;
}

#footer {
	position:absolute;
	top:610px;
	left:0px;
	padding:10px;
	color:#993300;
	
}

#footer a {
	color:#cc3300;
	font-weight: bold; 
}
#footer a:link {
	text-decoration:none;
}
#footer a:active {
	text-decoration:none;
}
#footer a:hover {
	text-decoration:underline;
}
#footer a:visited {
	text-decoration:none;
	color:#b53900;
}
#logos {
	position:absolute;
	top:685px;
	left:490px;
	width:450px;
	text-align:center;
}

#flashcontent{
	position:absolute;
	top:166px;
	left:0px;
}