@charset "UTF-8";
/* CSS Document */
/*img.image { display:none; }

dl#analysisMap{
	margin:0px;
	padding:0px;
	width:770px;
	height:400px;
	position:relative;
}

dd#macrobotanical {
	top:100px;
	left:100px;
}

dd#macrobotanical a {
	position:absolute;
	width: 200px;
	height: 45px;
}

dd#macrobotanical a span {
	display:none;
}

dd#macrobotanical a:hover {
	border:2px #993300;
}

dd#macrobotanical a:hover span {
	display:block;
	color:#000000;
	background-color:#FFFFFF;
	font-weight: bold;
	position:absolute;
	border:2px solid #0000FF;
	bottom:100%;
}*/ d


/*

fattyacid
phytolith
pollen
petrographic
INAA
wear
radiocarbon

*/