@charset "UTF-8";
/* CSS Document */

/*Image Map*/
img.image{ display: none; }

dl#image-map{
	margin: 0;
	padding: 0;
	background: transparent url(../images/weir-painting.jpg);
	width: 780px;
	height: 616px;
	position: relative;
}

/*General dd*/
.gwt-Hyperlink { margin: 0; padding: 0; position: absolute;  font-size: 85%; }

.gwt-Hyperlink#plant { top: 130px; left: 100px; }
.gwt-Hyperlink#plant a { position:absolute; top: 130px; left: 100px; width: 175px; height: 180px; text-decoration: none; border-style:solid; border-color:#930; opacity: 0.3; }
.gwt-Hyperlink#plant a span { border-style: solid; border-width: 1px; border-color: #bf5700; display: none; }
.gwt-Hyperlink#plant a:hover { position: absolute; top: 130px; left: 100px; opacity: 1.0; }
.gwt-Hyperlink#plant a:hover span {
	display: block;
	text-indent: 0;
	vertical-align: top;
	color: #000000;
	background-color: #FFFFFF;
	color: #930;
	font-weight: bold;
	position: absolute;
	border: 2px solid #930;
	bottom: 100%;
	margin: 0;
	padding: 5px;
	opacity: 1.0;
}

.gwt-Hyperlink#wood { top: 100px; left: 85px; }
.gwt-Hyperlink#wood a { position:absolute; top: 100px; left: 85px; width: 80px; height: 80px; text-decoration: none; border-style:solid; border-color:#930; opacity: 0.3; }
.gwt-Hyperlink#wood a span { border-style: solid; border-width: 1px; border-color: #bf5700; display: none; }
.gwt-Hyperlink#wood a:hover { position: absolute; top: 100px; left: 85px; opacity: 1.0; }
.gwt-Hyperlink#wood a:hover span {
	display: block;
	text-indent: 0;
	vertical-align: top;
	color: #000000;
	background-color: #FFFFFF;
	color: #930;
	font-weight: bold;
	position: absolute;
	border: 2px solid #930;
	bottom: 100%;
	margin: 0;
	padding: 5px;
	opacity: 1.0;
}

.gwt-Hyperlink#deer { top: 120px; left: 230px; }
.gwt-Hyperlink#deer a { position:absolute; top: 120px; left: 230px; width: 120px; height: 150px; text-decoration: none; border-style:solid; border-color:#930; opacity: 0.3; }
.gwt-Hyperlink#deer a span { border-style: solid; border-width: 1px; border-color: #bf5700; display: none; }
.gwt-Hyperlink#deer a:hover { position: absolute; top: 120px; left: 230px; opacity: 1.0; }
.gwt-Hyperlink#deer a:hover span {
	display: block;
	text-indent: 0;
	vertical-align: top;
	color: #000000;
	background-color: #FFFFFF;
	color: #930;
	font-weight: bold;
	position: absolute;
	border: 2px solid #930;
	bottom: 100%;
	margin: 0;
	padding: 5px;
	opacity: 1.0;
}

.gwt-Hyperlink#stone { top: 230px; left: 245px; }
.gwt-Hyperlink#stone a { position:absolute; top: 230px; left: 245px;  width: 200px; height: 120px; text-decoration: none; border-style:solid; border-color:#930; opacity: 0.3; }
.gwt-Hyperlink#stone a span { border-style: solid; border-width: 1px; border-color: #bf5700; display: none; }
.gwt-Hyperlink#stone a:hover { position: absolute; top: 230px; left: 245px; opacity: 1.0; }
.gwt-Hyperlink#stone a:hover span {
	display: block;
	text-indent: 0;
	vertical-align: top;
	color: #000000;
	background-color: #FFFFFF;
	color: #930;
	font-weight: bold;
	position: absolute;
	border: 2px solid #930;
	bottom: 100%;
	margin: 0;
	padding: 5px;
	opacity: 1.0;
}

.gwt-Hyperlink#mussel { top: 190px; left: 175px; }
.gwt-Hyperlink#mussel a { position:absolute; top: 190px; left: 175px; width: 160px; height: 130px; text-decoration: none; border-style:solid; border-color:#930; opacity: 0.3;}
.gwt-Hyperlink#mussel a span { border-style: solid; border-width: 1px; border-color: #bf5700; display: none; }
.gwt-Hyperlink#mussel a:hover { position: absolute; top: 190px; left: 175px; opacity: 1.0; }
.gwt-Hyperlink#mussel a:hover span {
	display: block;
	text-indent: 0;
	vertical-align: top;
	color: #000000;
	background-color: #FFFFFF;
	color: #930;
	font-weight: bold;
	position: absolute;
	border: 2px solid #930;
	bottom: 100%;
	margin: 0;
	padding: 5px;
	opacity: 1.0;
}

/*dd#mussel { top: 190px; left: 175px; }
dd#mussel a { position:absolute; top: 190px; left: 175px; width: 160px; height: 130px; text-decoration: none; border-style:solid; border-color:#930; }
dd#mussel a span { border-style: solid; border-width: 1px; border-color: #bf5700; display: none; }
dd#mussel-gwt a:hover { position: absolute; top: 190px; left: 175px; opacity: 0.3; }
dd#mussel a:hover span {
	display: block;
	text-indent: 0;
	vertical-align: top;
	color: #000000;
	background-color: #FFFFFF;
	font-weight: bold;
	position: absolute;
	border: 2px solid #0000FF;
	bottom: 100%;
	margin: 0;
	padding: 5px;
	opacity: 0.3;
}*/

/*GWT UI Style Sub Section*/
/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

/** Most GWT widgets already have a style name defined */

.gwt-DialogBox .dialogMiddleCenter {
	opacity: 0.9;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
  color: #930;
}
