@charset "UTF-8";
/* CSS Document */

/*Image Map*/

img.image { display: none; } 

dl#image-map {
	margin: 0;
	padding: 0;
	background: transparent url(../images/investigations_redmap.jpg);
	width: 580px;
	height: 610px;
	position: relative;
}

ul {
margin-left:-25px;
margin-right:0px;
list-style:square;
} 

dd { margin: 0; padding: 0; position: absolute; }

dd#mcmillan { top: 53px; left: 60px; }
dd#mcmillan a {
	position: absolute;
	top: 84px;
	left: 98px;
	width: 100px;
	height: 60px;
	text-decoration: none;
}
dd#mcmillan a span { display: none; }
dd#mcmillan a:hover { top: 53px; left: 60px; width: 100px; height: 60px; border: 2px solid #930; display: block; }
dd#mcmillan a:hover span {
	display: block;
	text-indent: 0;
	vertical-align: top;
	color: #930;
	font-weight: bold;
	bottom: 100%;
	margin: 0;
	padding: 5px;
}

dd#higginbotham { top: 37px; left: 2px; }
dd#higginbotham a {
	position: absolute;
	top: 60px;
	left: 17px;
	width: 100px;
	height: 60px;
	text-decoration: none;
}
dd#higginbotham a span { display: none; }
dd#higginbotham a:hover { top: 37px; left: 2px; width: 100px height: 60px; border: 2px solid #930; display: block; }
dd#higginbotham a:hover span {
	display: block;
	text-indent: 0;
	vertical-align: top;
	background-color: #FFFFF;
	color: #930;
	font-weight: bold;
	bottom: 100%;
	margin: 0;
	padding: 5px;
}

dd#britton { top: 4px; left: 23px; }
dd#britton a {
	position: absolute;
	top: 19px;
	left: 39px;
	width: 100px;
	height: 60px;
	text-decoration: none;
}
dd#britton a span { display: none; }
dd#britton a:hover { top: 4px; left: 23px; width: 100px; height: 60px; border: 2px solid #930; display: block; }
dd#britton a:hover span {
	display: block;
	text-indent: 0;
	vertical-align: top;
	color: #930;
	font-weight: bold;
	bottom: 100%;
	margin: 0;
	padding: 5px;
}
